<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linayi.dao.order.SelfOrderMessageMapper" >
  <resultMap id="BaseResultMap" type="com.linayi.entity.order.SelfOrderMessage" >
    <id column="message_id" property="messageId" jdbcType="BIGINT" />
    <result column="self_order_id" property="selfOrderId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
     <result column="view_status" property="viewStatus" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!-- 将消息发送给每个超市的采买员 -->
  <insert id="sendBuyerMessage"  parameterType="com.linayi.entity.order.SelfOrderMessage"
          useGeneratedKeys="true"
          keyProperty="id">
        INSERT INTO self_order_message (
			self_order_id,status,user_id,update_time,create_time
		) VALUES (
			#{selfOrderId},#{status},#{userId},#{updateTime},#{createTime}
		)
  </insert>
  
  
  <!-- 通过用户id查询自定义下单消息表 -->
  <select id="selectByUserId" resultType="com.linayi.entity.order.SelfOrderMessage">
	SELECT
		som.message_id,
		som.self_order_id,
		so.goods_name goodsName,
		so.brand_name brandName,
		so.attr_value attrValue,
		som.status,
		som.user_id,
		som.view_status,
		som.update_time,
		som.create_time
    FROM
    	self_order_message som join self_order so on som.self_order_id=so.self_order_id
    WHERE
   		som.user_id=#{userId}
   	ORDER BY 
   	 	som.create_time DESC
  </select>

<update id="updateSelfOrderMessageStatusByPrimaryKey">
update
	self_order_message
set
	view_status=#{viewStatus},
	status=#{status},
	update_time=#{updateTime}
where
	message_id=#{messageId}
</update>

<select id="selectSelfOrderMessageBySelfOrderId" resultType="com.linayi.entity.order.SelfOrderMessage">
SELECT
	message_id,
	self_order_id,
	status,
	user_id,
	update_time,
	create_time
FROM
	self_order_message
WHERE
	self_order_id=#{selfOrderId}
</select>

</mapper>