<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linayi.dao.procurement.ProcureMergeTaskMapper" >
    <insert id="insert" parameterType="com.linayi.entity.procurement.ProcureMergeTask" useGeneratedKeys="true" keyProperty="procureMergeTaskId">
        insert into procure_merge_task
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="procureMergeTaskId != null" >
                procure_merge_task_id,
            </if>
            <if test="startTime != null" >
                start_time,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="procureMergeNo != null" >
                procure_merge_no,
            </if>
        </trim>
        <trim prefix="value (" suffix=")" suffixOverrides=",">
            <if test="procureMergeTaskId != null" >
                #{procureMergeTaskId,jdbcType=BIGINT},
            </if>
            <if test="startTime != null" >
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="procureMergeNo != null" >
                #{procureMergeNo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>
