<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linayi.dao.community.SmallCommunityReqMapper">
  <resultMap id="BaseResultMap" type="com.linayi.entity.community.SmallCommunityReq">
    <!--@mbg.generated-->
    <id column="small_community_req_id" jdbcType="INTEGER" property="smallCommunityReqId" />
    <result column="small_community" jdbcType="VARCHAR" property="smallCommunity" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    small_community_req_id, small_community, `status`, mobile, nickname, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from small_community_req
    where small_community_req_id = #{smallCommunityReqId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from small_community_req
    where small_community_req_id = #{smallCommunityReqId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="small_community_req_id" keyProperty="smallCommunityReqId" parameterType="com.linayi.entity.community.SmallCommunityReq" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into small_community_req (small_community, `status`, mobile, 
      nickname, create_time)
    values (#{smallCommunity,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="small_community_req_id" keyProperty="smallCommunityReqId" parameterType="com.linayi.entity.community.SmallCommunityReq" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into small_community_req
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="smallCommunity != null">
        small_community,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="smallCommunity != null">
        #{smallCommunity,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linayi.entity.community.SmallCommunityReq">
    <!--@mbg.generated-->
    update small_community_req
    <set>
      <if test="smallCommunity != null">
        small_community = #{smallCommunity,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where small_community_req_id = #{smallCommunityReqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linayi.entity.community.SmallCommunityReq">
    <!--@mbg.generated-->
    update small_community_req
    set small_community = #{smallCommunity,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where small_community_req_id = #{smallCommunityReqId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-06-28-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from small_community_req
    where 1=1
    <if test="smallCommunityReqId != null">
      and small_community_req_id=#{smallCommunityReqId,jdbcType=INTEGER}
    </if>
    <if test="smallCommunity != null and smallCommunity != ''">
      and small_community LIKE concat('%',#{smallCommunity,jdbcType=VARCHAR},'%')
    </if>
    <if test="status != null and status != ''">
      and `status`=#{status,jdbcType=VARCHAR}
    </if>
    <if test="mobile != null and mobile != ''">
      and mobile like concat('%',#{mobile,jdbcType=VARCHAR},'%')
    </if>
    <if test="nickname != null and nickname != ''">
      and nickname=#{nickname,jdbcType=VARCHAR}
    </if>

    <if test="startTime != null">
      and create_time  <![CDATA[ >= ]]> #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      and create_time <![CDATA[ <= ]]> #{endTime} ,jdbcType=TIMESTAMP}
    </if>
     order by create_time desc
  </select>

  <!--auto generated by MybatisCodeHelper on 2019-06-25-->

</mapper>