<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linayi.dao.user.AuthenticationApplyMapper">

	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.linayi.entity.user.AuthenticationApply">
		insert into
		authentication_apply (
		apply_id,
		user_id,
		authentication_type,
		real_name,
		mobile,
		id_card_front,
		id_card_back,
		status,
		create_time,
		update_time,
		area_code,
		address,
		supermarket_id,
		small_community_id
		)
		values (
		#{applyId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{authenticationType,jdbcType=VARCHAR},
		#{realName,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR},
		#{idCardFront,jdbcType=VARCHAR},
		#{idCardBack,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{areaCode,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{supermarketId,jdbcType=INTEGER},
		#{smallCommunityId,jdbcType=INTEGER}
		)
	</insert>

	<select id="selectAuthenticationApplyList" resultType="com.linayi.entity.user.AuthenticationApply">
		select
		`apply_id`,`user_id`,`authentication_type`,`real_name`,`mobile`,`id_card_front`,`id_card_back`,`status`,`create_time`,`update_time`,`small_community_id`
		from `authentication_apply`
		<where>
			<if test="applyId!=null and applyId!=''">
				and apply_id=#{apply_id}
			</if>
			<if test="userId!=null and userId!=''">
				and user_id=#{userId}
			</if>
			<if test="authenticationType!=null and authenticationType!=''">
				and authentication_type=#{authenticationType}
			</if>
			<if test="realName!=null and realName!=''">
				and real_name=#{realName}
			</if>
			<if test="mobile!=null and mobile!=''">
				and mobile=#{mobile}
			</if>
			<if test="idCardFront!=null and idCardFront!=''">
				and id_card_front=#{idCardFront}
			</if>
			<if test="idCardBack!=null and idCardBack!=''">
				and id_card_back=#{idCardBack}
			</if>
			<if test="status!=null and status!=''">
				and status=#{status}
			</if>
			<if test="createTimeStart!=null ">
                <![CDATA[
                and `create_time` >= #{createTimeStart}
                ]]>
			</if>
			<if test="createTimeEnd!=null ">
                <![CDATA[
                and `update_time` <= #{createTimeEnd}
                ]]>
			</if>
			<!--<if test="createTimeEnd!=null "> and create_time - #{createTimeEnd} 
				&lt;0 </if> -->
		</where>
		order by apply_id desc
	</select>
	
	<!-- 根据applyId查询AuthenticationApply对象集合 -->
	<select id="getAuthenticationApplyByapplyId" 
			resultType="com.linayi.entity.user.AuthenticationApply">
		select
			apply_id applyId,
			user_id userId,
			authentication_type authenticationType,
			real_name realName,
			mobile,
			id_card_front idCardFront,
			id_card_back idCardBack, 
			status,
			update_time updateTime,
			create_time createTime
		from
			authentication_apply
		WHERE
			apply_id = #{applyId}
	</select>
	
	<!-- 根据applyId查询AuthenticationApply对象集合 -->
	<select id="getAuthenticationApplyByUserIdAndType" 
			resultType="com.linayi.entity.user.AuthenticationApply">
		select
			apply_id applyId,
			user_id userId,
			authentication_type authenticationType,
			real_name realName,
			mobile,
			id_card_front idCardFront,
			id_card_back idCardBack, 
			status,
			update_time updateTime,
			create_time createTime
		from
			authentication_apply
		WHERE
			user_id = #{userId} and authentication_type = #{authenticationType}
	</select>
	
		<!-- 根据主键categoryId修改信息 -->
	<update id="updateStatusByApplyId">
		UPDATE
			authentication_apply
		SET
		<if test="status != null">
			status=#{status},
		</if>

		status=status,

		<if test="updateTime != null">
			update_time=#{updateTime},
		</if>

		update_time=update_time

		WHERE
		
			apply_id=#{applyId}
	</update>
	

</mapper>