<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linayi.dao.goods.GoodsAttrValueMapper">
  <resultMap id="BaseResultMap" type="com.linayi.entity.goods.GoodsAttrValue">
    <result column="goods_attr_value_id" jdbcType="INTEGER" property="goodsAttrValueId" />
    <result column="goods_sku_id" jdbcType="INTEGER" property="goodsSkuId" />
    <result column="attr_value_id" jdbcType="INTEGER" property="attrValueId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="getGoodsAttrValueByGoodsId" resultMap="BaseResultMap">
    select goods_attr_value_id, goods_sku_id, attr_value_id, update_time, create_time from goods_attr_value
    where goods_sku_id = #{goodsSkuId}
  </select>
  <delete id="deleteByGoodsSkuId">
    delete from goods_attr_value where goods_sku_id = #{goodsSkuId}
  </delete>
  <delete id="deleteById">
    delete from goods_attr_value where goods_attr_value_id = #{attrValueId}
  </delete>
  <select id="getGoodsAttrValue" resultMap="BaseResultMap">
    select goods_attr_value_id, goods_sku_id, attr_value_id, update_time, create_time from goods_attr_value
    <where>
      <if test="goodsAttrValueId != null">
        goods_attr_value_id = #{goodsAttrValueId}
      </if>
      <if test="goodsSkuId != null">
        and goods_sku_id = #{goodsSkuId}
      </if>
      <if test="attrValueId != null">
        and attr_value_id = #{attrValueId}
      </if>
      <if test="updateTime != null">
        and update_time = #{updateTime}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime}
      </if>
    </where>
  </select>
  <insert id="insert" parameterType="com.linayi.entity.goods.GoodsAttrValue" useGeneratedKeys="true" keyProperty="goodsAttrValueId">
    insert into goods_attr_value (goods_attr_value_id, goods_sku_id, attr_value_id,
      update_time, create_time)
    values (#{goodsAttrValueId,jdbcType=INTEGER}, #{goodsSkuId,jdbcType=INTEGER}, #{attrValueId,jdbcType=INTEGER},
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.linayi.entity.goods.GoodsAttrValue">
    insert into goods_attr_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsAttrValueId != null">
        goods_attr_value_id,
      </if>
      <if test="goodsSkuId != null">
        goods_sku_id,
      </if>
      <if test="attrValueId != null">
        attr_value_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsAttrValueId != null">
        #{goodsAttrValueId,jdbcType=INTEGER},
      </if>
      <if test="goodsSkuId != null">
        #{goodsSkuId,jdbcType=INTEGER},
      </if>
      <if test="attrValueId != null">
        #{attrValueId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>