<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linayi.dao.goods.GoodsSkuMapper">
    <resultMap id="BaseResultMap" type="com.linayi.entity.goods.GoodsSku">
        <result column="goods_sku_id" jdbcType="INTEGER" property="goodsSkuId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="brand_id" jdbcType="INTEGER" property="brandId"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="function" jdbcType="VARCHAR" property="function"/>
        <result column="produce_address" jdbcType="VARCHAR" property="produceAddress"/>
        <result column="produce_date" jdbcType="TIMESTAMP" property="produceDate"/>
        <result column="valid_date" jdbcType="TIMESTAMP" property="validDate"/>
        <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer"/>
        <result column="other_attribute" jdbcType="VARCHAR" property="otherAttribute"/>
    </resultMap>
    <insert id="insert" parameterType="com.linayi.entity.goods.GoodsSku" useGeneratedKeys="true" keyProperty="goodsSkuId">
    insert into goods_sku (goods_sku_id, name, full_name, barcode,
      category_id, brand_id, status, 
      image, update_time, create_time, 
      model, function, produce_address, 
      produce_date, valid_date, manufacturer, 
      other_attribute,user_id)
    values (#{goodsSkuId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{barcode,jdbcType=VARCHAR},
      #{categoryId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{model,jdbcType=VARCHAR}, #{function,jdbcType=VARCHAR}, #{produceAddress,jdbcType=VARCHAR}, 
      #{produceDate,jdbcType=TIMESTAMP}, #{validDate,jdbcType=TIMESTAMP}, #{manufacturer,jdbcType=VARCHAR}, 
      #{otherAttribute,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.linayi.entity.goods.GoodsSku">
        insert into goods_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsSkuId != null">
                goods_sku_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="fullName != null">
                full_name,
            </if>
            <if test="barcode != null">
                barcode,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="function != null">
                function,
            </if>
            <if test="produceAddress != null">
                produce_address,
            </if>
            <if test="produceDate != null">
                produce_date,
            </if>
            <if test="validDate != null">
                valid_date,
            </if>
            <if test="manufacturer != null">
                manufacturer,
            </if>
            <if test="otherAttribute != null">
                other_attribute,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
                #{goodsSkuId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
             <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="barcode != null">
                #{barcode,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="function != null">
                #{function,jdbcType=VARCHAR},
            </if>
            <if test="produceAddress != null">
                #{produceAddress,jdbcType=VARCHAR},
            </if>
            <if test="produceDate != null">
                #{produceDate,jdbcType=TIMESTAMP},
            </if>
            <if test="validDate != null">
                #{validDate,jdbcType=TIMESTAMP},
            </if>
            <if test="manufacturer != null">
                #{manufacturer,jdbcType=VARCHAR},
            </if>
            <if test="otherAttribute != null">
                #{otherAttribute,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <sql id="columnList">
     goods_sku_id, NAME, full_name,barcode, category_id, brand_id, STATUS, image, update_time, create_time, model, FUNCTION, produce_address, produce_date, valid_date, manufacturer, other_attribute
  </sql>

    <update id="updateGoodsFullName" parameterType="com.linayi.entity.goods.GoodsSku">
        update goods_sku
        <set>
            <if test="fullName != null">
                full_name = #{fullName}
            </if>
        </set>
        where goods_sku_id = #{goodsSkuId}
    </update>
    <update id="update" parameterType="com.linayi.entity.goods.GoodsSku">
        update goods_sku
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="fullName != null">
                full_name = #{fullName},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="barcode != null">
                barcode = #{barcode},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="model != null">
                model = #{model},
            </if>
            <if test="function != null">
                function = #{function},
            </if>
            <if test="produceAddress != null">
                produce_address = #{produceAddress},
            </if>
            <if test="produceDate != null">
                produce_date = #{produceDate},
            </if>
            <if test="validDate != null">
                valid_date = #{validDate},
            </if>
            <if test="manufacturer != null">
                manufacturer = #{manufacturer},
            </if>
            <if test="otherAttribute != null">
                other_attribute = #{otherAttribute},
            </if>
        </set>
        where goods_sku_id = #{goodsSkuId}
    </update>
    <select id="getGoodsNameList" resultType="java.lang.String">
        select name from goods_sku
    </select>
    <select id="getGoodsByGoods" resultMap="BaseResultMap">
        select
        <include refid="columnList"/>
        from goods_sku
        <where>
            <if test="goodsSkuId != null and goodsSkuId != ''">
                goods_sku_id = #{goodsSkuId}
            </if>
            <if test="name != null and name != ''">
                and name like #{name}
            </if>
            <if test="fullName != null and fullName != ''">
                and full_name like #{fullName}
            </if>
            <if test="barcode != null and barcode != ''">
                and barcode = #{barcode}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and category_id = #{categoryId}
            </if>

            <if test="brandId != null and brandId != ''">
                and brand_id = #{brandId}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="image != null and image != ''">
                and image = #{image}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <if test="createTimeStart != null and createTimeStart != ''">
                and create_time <![CDATA[ >= ]]> #{createTimeStart}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and create_time <![CDATA[ <= ]]> #{createTimeEnd}
            </if>
        </where>
    </select>
    <select id="getGoodsList" parameterType="com.linayi.entity.goods.GoodsSku" resultType="com.linayi.entity.goods.GoodsSku">
        select gs.goods_sku_id goodsSkuId, gs.name NAME, gs.full_name fullName,gs.barcode barcode, gs.category_id categoryId, gs.brand_id brandId, gs.status STATUS, gs.image image, gs.update_time updateTime, gs.create_time createTime, gs.model model, gs.function FUNCTION , gs.produce_address produceAddress, gs.produce_date produceDate, gs.valid_date validDate, gs.manufacturer manufacturer, gs.other_attribute otherAttribute
        ,e.real_name realName from goods_sku gs left join employee e on gs.user_id = e.employee_id
        <where>
            <if test="status != null and status != ''">
                gs.STATUS = #{status}
            </if>
            <if test="goodsSkuId != null and goodsSkuId != ''">
                and gs.goods_sku_id = #{goodsSkuId}
            </if>
            <if test="name != null and name != ''">
                and gs.name like #{name}
            </if>
             <if test="fullName != null and fullName != ''">
                and gs.full_name like #{fullName}
            </if>
            <if test="barcode != null and barcode != ''">
                and gs.barcode = #{barcode}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and gs.category_id = #{categoryId}
            </if>

            <if test="brandId != null and brandId != ''">
                and gs.brand_id = #{brandId}
            </if>
            <if test="status != null and status != ''">
                and gs.status = #{status}
            </if>

            <if test="image != null and image != ''">
                and gs.image = #{image}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and gs.update_time = #{updateTime}
            </if>
            <if test="createTimeStart != null and createTimeStart != ''">
                and gs.create_time <![CDATA[ >= ]]> #{createTimeStart}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and gs.create_time <![CDATA[ <= ]]> #{createTimeEnd}
            </if>
        </where>
            order by gs.create_time desc,gs.goods_sku_id desc
    </select>
    
    <!-- 通过品牌id分类id商品名获取商品列表 -->
  <!-- List<GoodsSku>getGoodsListBybrandIdcategoryIdGoodsName() -->
  <select id="getGoodsListBybrandIdcategoryIdGoodsName" resultType="com.linayi.entity.goods.GoodsSku" >
  		SELECT
  			gs.goods_sku_id,
  			gs.name,
  			gs.full_name,
  			gs.barcode,
  			gs.category_id,
  			gs.brand_id,
  			gs.status,
  			gs.image,
  			gs.update_time,
  			gs.create_time,
  			gs.model,
  			gs.function,
  			gs.produce_address,
  			gs.produce_date,
  			gs.valid_date,
  			gs.manufacturer,
  			gs.other_attribute,
  			cg.min_price minPrice,
  			ss.name minSupermarket
		FROM			
  			goods_sku gs JOIN community_goods cg ON gs.goods_sku_id=cg.goods_sku_id JOIN supermarket ss ON cg.min_supermarket_id=ss.supermarket_id
  		<where>
  			cg.community_id=#{communityId}
  			<if test="categoryId!=null">
  			and gs.category_id=#{categoryId}
  			</if>
  			<if test="brandId!=null">
  			and gs.brand_id=#{brandId}
  			</if>
  			<if test="fullName!=null and fullName!=''">
  			and gs.full_name like concat('%',#{fullName},'%')
  			</if>	
  		 </where>	
  </select>
  <select id="getGoodsById" resultMap="BaseResultMap">
      select  <include refid="columnList"/> from goods_sku where goods_sku_id = #{goodsSkuId}
  </select>
  
  
  <!-- 价差排行 -->
  <!--List<GoodsSku> getDifferenceRanking()-->
  <select id="getDifferenceRanking" resultType="com.linayi.entity.goods.GoodsSku">
  		SELECT
  			gs.goods_sku_id  goodsSkuId,
  			gs.NAME name,
  			gs.full_name fullName,
  			gs.barcode,
  			gs.category_id categoryId,
  			gs.brand_id brandId,
  			gs.STATUS status,
  			gs.image,
  			gs.update_time  updateTime,
  			gs.create_time  createTime,
  			gs.model,
  			gs.FUNCTION function,
  			gs.produce_address produceAddress,
  			gs.produce_date  produceDate,
  			gs.valid_date validDate,
  			gs.manufacturer,
  			gs.other_attribute  otherAttribute,
  			cg.min_price minPrice,
  			cg.max_price maxPrice,
  			cg.max_supermarket_id maxSupermarketId,
  			cg.min_supermarket_id minSupermarketId
  		FROM			
  			goods_sku gs,community_goods cg
  		<where>
  			gs.goods_sku_id=cg.goods_sku_id
  			<if test="communityId!=null and communityId!=''">
  			    AND	cg.community_id=#{communityId}
  			</if>
  			<if test="categoryId!=null and categoryId!=''">
  				AND gs.category_id=#{categoryId}
  			</if>
  			<if test="brandId!=null and brandId!=''">
  				AND gs.brand_id=#{brandId}
  			</if>
  		ORDER BY (cg.max_price-cg.min_price)/cg.min_price DESC
  		</where>	
  	</select>
  	
  	
  		<!-- 根据商品名称模糊查询商品列表 -->
  		<!--List<GoodsSku> getGoodsSkuByVagueGoodsName(GoodsSku goodsSku) -->
  		<select id="getGoodsSkuByVagueGoodsName" resultType="com.linayi.entity.goods.GoodsSku">
  			SELECT
  				goods_sku_id,
  				NAME name,
  				full_name,
  				barcode,
  				category_id,
  				brand_id,
  				status,
  				image,
  				update_time,
  				create_time,
  				model,
  				function,
  				produce_address,
  				produce_date,
  				valid_date,
  				manufacturer,
  				other_attribute	
  			FROM
  				goods_sku
  			<where>	
	  			<if test="brandId!=null">
	  			and brand_id=#{brandId}
	  			</if>
	  			<if test="fullName!=null and fullName!=''">
	  			and full_name like concat('%',#{fullName},'%')
	  			</if>
	  			<if test="valueName!=null and valueName!=''">
	  			and full_name like concat('%',#{valueName},'%')
	  			</if>			
  		 </where>				
  		
  		</select>
  		
  		<!-- 自定义下单 -->
  		<select id="customSearch" resultType="com.linayi.entity.goods.GoodsSku">
  		SELECT
  			gs.goods_sku_id,
  			gs.name,
  			gs.full_name ,
  			gs.barcode,
  			gs.category_id,
  			gs.brand_id,
  			gs.status,
  			gs.image,
  			gs.update_time,
  			gs.create_time,
  			gs.model,
  			gs.function,
  			gs.produce_address,
  			gs.produce_date,
  			gs.valid_date,
  			gs.manufacturer,
  			gs.other_attribute,
  			cg.min_price minPrice,
  			cg.max_price maxPrice,
  			(cg.max_price-cg.min_price)/cg.min_price spreadRate,
  			ss.name minSupermarket
  		FROM			
  			goods_sku gs,community_goods cg,supermarket ss,brand b
  		<where>
  			gs.goods_sku_id=cg.goods_sku_id
  		AND
  			cg.min_supermarket_id=ss.supermarket_id
  		AND
  			gs.brand_id = b.brand_id
  			<if test="communityId!=null">
  			and cg.community_id=#{communityId}	
  			</if>
  			<if test="brandName!=null and brandName!=''">
  			and b.name=#{brandName}
  			</if>
  			<if test="fullName!=null and fullName!=''">
  			and gs.full_name like concat('%',#{fullName},'%')
  			</if>
  			<if test="valueName!=null and valueName!=''">
  			and gs.full_name like concat('%',#{valueName},'%')
  			</if>			
  		 </where>
  		</select>
  	

  <select id="getGoodsByName" resultMap="BaseResultMap">
      select <include refid="columnList"/> from goods_sku where name like concat('%',#{name},'%')
  </select>

  <select id="deleteGoodsById">
      delete from goods_sku where goods_sku_id = #{goodsSkuId}
  </select>
  
  
    <!-- 获取所有商品id -->
  <select id="getGoodsSkuIdBygoodsSku" resultType="java.lang.Integer">
  	SELECT
  		goods_sku_id
  	FROM
  		goods_sku	 
 
  </select>

  <select id="selectNamebyId" resultType="com.linayi.entity.goods.GoodsSku">
      select name,image from goods_sku where goods_sku_id=#{goodsSkuId}
  </select>
</mapper>