<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linayi.dao.goods.SkuClickNumMapper">
  <resultMap id="BaseResultMap" type="com.linayi.entity.goods.SkuClickNum">
    <!--@mbg.generated-->
    <id column="goods_sku_id" jdbcType="INTEGER" property="goodsSkuId" />
    <id column="click_date" jdbcType="DATE" property="clickDate" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    goods_sku_id, click_date, num
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from sku_click_num
    where goods_sku_id = #{goodsSkuId,jdbcType=INTEGER}
    and click_date = #{clickDate,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from sku_click_num
    where goods_sku_id = #{goodsSkuId,jdbcType=INTEGER}
    and click_date = #{clickDate,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="com.linayi.entity.goods.SkuClickNum">
    <!--@mbg.generated-->
    insert into sku_click_num (goods_sku_id, click_date, num
    )
    values (#{goodsSkuId,jdbcType=INTEGER}, #{clickDate,jdbcType=DATE}, #{num,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.linayi.entity.goods.SkuClickNum">
    <!--@mbg.generated-->
    insert into sku_click_num
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsSkuId != null">
        goods_sku_id,
      </if>
      <if test="clickDate != null">
        click_date,
      </if>
      <if test="num != null">
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsSkuId != null">
        #{goodsSkuId,jdbcType=INTEGER},
      </if>
      <if test="clickDate != null">
        #{clickDate,jdbcType=DATE},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linayi.entity.goods.SkuClickNum">
    <!--@mbg.generated-->
    update sku_click_num
    <set>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
    </set>
    where goods_sku_id = #{goodsSkuId,jdbcType=INTEGER}
    and click_date = #{clickDate,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linayi.entity.goods.SkuClickNum">
    <!--@mbg.generated-->
    update sku_click_num
    set num = #{num,jdbcType=INTEGER}
    where goods_sku_id = #{goodsSkuId,jdbcType=INTEGER}
    and click_date = #{clickDate,jdbcType=DATE}
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-06-04-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sku_click_num
    where 1=1
    <if test="goodsSkuId != null">
      and goods_sku_id=#{goodsSkuId,jdbcType=INTEGER}
    </if>
    <if test="clickDate != null">
      and click_date=#{clickDate,jdbcType=DATE}
    </if>

    <if test="startTime != null">
      and click_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and click_date &lt;= #{endTime}
    </if>
    <if test="num != null and num != ''">
      and num=#{num}
    </if>

    order by num desc LIMIT 0,
    <if test="num == null or num == ''">
      100
    </if>
    <if test="num != null and num != ''">
      #{num}
    </if>
  </select>
</mapper>