<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linayi.dao.supermarket.SupermarketMapper">
	<resultMap id="BaseResultMap" type="com.linayi.entity.supermarket.Supermarket">
		<result column="supermarket_id" jdbcType="INTEGER" property="supermarketId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="area_code" jdbcType="VARCHAR" property="areaCode" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="procurer_id" jdbcType="INTEGER" property="procurerId" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="logo" jdbcType="VARCHAR" property="logo" />
		<result column="order_no" jdbcType="INTEGER" property="orderNo" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
  <insert id="insert" parameterType="com.linayi.entity.supermarket.Supermarket" useGeneratedKeys="true" keyProperty="supermarketId">
    insert into supermarket (supermarket_id, name, area_code,
      address, status, logo,
      order_no, update_time, create_time
      )
    values (#{supermarketId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR},
      #{orderNo,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linayi.entity.supermarket.Supermarket">
    insert into supermarket
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supermarketId != null">
        supermarket_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supermarketId != null">
        #{supermarketId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <!-- 根据id查找超市 -->
  <select id="selectSupermarketBysupermarketId" resultType="com.linayi.entity.supermarket.Supermarket">
		select
		 	`supermarket_id`,`name`,`area_code`,`address`,`status`,`logo`,`order_no`,`user_id`,`update_time`,`create_time`,`procurer_id`
		from
			`supermarket` where supermarket_id=#{value}
	</select>
	<!-- 根据SupermarketId集合查找超市 -->
  <select id="selectSupermarketList" resultType="com.linayi.entity.supermarket.Supermarket">
		select
		 	`supermarket_id`,`name`,`area_code`,`address`,`status`,`logo`,`order_no`,`user_id`,`update_time`,`create_time`,`procurer_id`
		from
			`supermarket`
		<where>
			<if test="supermarketIdList.size() > 0 and supermarketIdList != null">
				and supermarket_id in
				<foreach collection="supermarketIdList" index="index" item="item" open="(" separator="," close=")">
                	${item}
        		</foreach>
			</if>
		</where>
		order by supermarket_id desc
	</select>
	<!-- 根据SupermarketId集合查找不在集合中超市 -->
  <select id="selectSupermarketListTwo" resultType="com.linayi.entity.supermarket.Supermarket">
		select
		 	`supermarket_id`,`name`,`area_code`,`address`,`status`,`logo`,`order_no`,`update_time`,`create_time`
		from
			`supermarket`
		<where>
			<if test="supermarketIdList.size() > 0 and supermarketIdList != null">
				and supermarket_id not in
				<foreach collection="supermarketIdList" index="index" item="item" open="(" separator="," close=")">
                	${item}
        		</foreach>
			</if>
		</where>
		order by supermarket_id desc
	</select>

	<!-- 查找所有的超市 -->
	<select id="selectAll" resultType="com.linayi.entity.supermarket.Supermarket">
		select
			`supermarket_id`,`name`,`area_code`,`address`,`status`,`logo`,`order_no`,`user_id`,`update_time`,`create_time`,`procurer_id`
		from
			`supermarket`
		<where>
			<if test="supermarketId!=null and supermarketId!=''">
				and supermarket_id=#{supermarketId}
			</if>
			<if test="name!=null and name!=''">
				and  name like concat ('%',#{name},'%')
			</if>
			<if test="areaCode!=null and areaCode!=''">
				and area_code=#{areaCode}
			</if>
			<if test="address!=null and address!=''">
				and address=#{address}
			</if>
			<if test="status!=null and status!=''">
				and status=#{status}
			</if>
			<if test="logo!=null and logo!=''">
				and logo=#{logo}
			</if>
			<if test="orderNo!=null and orderNo!=''">
				and order_no=#{orderNo}
			</if>
			<if test="userId!=null and userId!=''">
				and user_id=#{userId}
			</if>
			<if test="updateTime!=null and updateTime!=''">
				and update_time=#{updateTime}
			</if>
			<if test="createTimeStart!=null ">
                <![CDATA[
                and `create_time` >= #{createTimeStart}
                ]]>
            </if>
            <if test="createTimeEnd!=null ">
                <![CDATA[
                and `create_time` <= #{createTimeEnd}
                ]]>
            </if>
			<if test="procurerId!=null and procurerId!=''">
				and procurer_id=#{procurerId}
			</if>
		</where>
		order by supermarket_id desc
	</select>

	<!--修改  -->
  <update id="updateSupermarketBysupermarketId" parameterType="com.linayi.entity.supermarket.Supermarket">
		update `supermarket`
		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="areaCode!=null and areaCode!=''">
				area_code=#{areaCode},
			</if>
			<if test="address!=null and address!=''">
				 address=#{address},
			</if>
			<if test="status!=null and status!=''">
				 status=#{status},
			</if>
			<if test="logo!=null and logo!=''">
				logo=#{logo},
			</if>
			<if test="orderNo!=null and orderNo!=''">
				 order_no=#{orderNo},
			</if>
			<if test="userId!=null and userId!=''">
				 user_id=#{userId},
			</if>
			<if test="updateTime!=null">
				 update_time=#{updateTime},
			</if>
			<if test="createTime!=null">
				 create_time=#{createTime},
			</if>
			<if test="procurerId!=''">
				 procurer_id=#{procurerId}
			</if>
		</set>
		where
			supermarket_id=#{supermarketId}
	</update>

	<!-- 删除 -->
	<delete id="deleteSupermarketrBysupermarketId">
		delete from `supermarket` where
		supermarket_id=#{value}
	</delete>

	<insert id="insertSupermarket" parameterType="com.linayi.entity.supermarket.Supermarket" useGeneratedKeys="true" keyProperty="supermarketId">
		 insert into supermarket (supermarket_id, name, area_code,
      address, status, logo,
      order_no, user_id, update_time, create_time, procurer_id
      )
    values (#{supermarketId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR},
      #{orderNo,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
      #{procurerId,jdbcType=INTEGER}
      )
	</insert>



  <!-- 根据用户的uid的默认收货地址找到绑定的超市 -->
  <!--List<Supermarket> getSupermarketByAddress(); -->
  <select id="getSupermarketByAddress" parameterType="java.lang.Integer"
  resultType="com.linayi.entity.supermarket.Supermarket">
  	SELECT distinct
		s.supermarket_id supermarketId,
		s.name,
		s.area_code areaCode,
		s.address,
		s.status,
		s.logo,
		s.order_no orderNo,
		s.update_time updateTime,
		s.create_time  createTime
  	FROM
  		receive_address ra join small_community sc on ra.address_one=sc.small_community_id
  		join community_supermarket cs on sc.community_id=cs.community_id
  		join supermarket s on cs.supermarket_id = s.supermarket_id
  		join `user` u on u.default_receive_address_id=ra.receive_address_id
  	where
  		 u.user_id = #{userId}
	ORDER BY
	  	cs.rank
  </select>

  <select id="getSupermarketByProcurerId" resultType="com.linayi.entity.supermarket.Supermarket">
	  select `supermarket_id`,`name`,`area_code`,`address`,`status`,`logo`,`user_id`,`procurer_id`,`order_no`,`update_time`,`create_time`
	  from supermarket where procurer_id = #{userId}
  </select>

    <select id="selectSupermarketByAreaCode" resultType="com.linayi.entity.supermarket.Supermarket">
	  select `supermarket_id`,`name`,`area_code`,`address`,`status`,`logo`,`user_id`,`procurer_id`,`order_no`,`update_time`,`create_time`
	  from supermarket where area_code = #{areaCode}
  </select>

  	<!-- 根据社区id获取超市 -->
  	<select id="getSupermarketBycommunityId" resultType="java.lang.String">
  		SELECT
  			s.name
  		FROM
  			supermarket s,community_supermarket cs
  		WHERE
  			s.supermarket_id=cs.supermarket_id
  		AND
  			cs.community_id=#{communityId}

  	</select>

	<!-- 根据社区id和超市集合获取超市名字集合 -->
	<select id="getSupermarketBycommunityIdAndSupermarketIdList" resultType="java.lang.String">
  		SELECT
  			s.name
  		FROM
  			supermarket s,community_supermarket cs
  		<where>
			s.supermarket_id = cs.supermarket_id
		AND
  			s.supermarket_id IN
			<foreach collection="supermarketIdList" item="item" index="index"
					 open="(" separator="," close=")">
				${item}
			</foreach>
  		AND
  			cs.community_id=#{communityId}
		</where>
  	</select>

<!--	根据超市名模糊查询超市
	<select id="getSupermarketByName" resultType="com.linayi.entity.supermarket.Supermarket">
		SELECT
			supermarket_id,
			name
		FROM
			supermarket
		WHERE
			name like concat('%', #{supermarketName},'%')
	</select>-->

	<select id="getSupermarketIdByName" resultType="java.lang.Integer">
		SELECT
		supermarket_id
		FROM
		supermarket
		where
			name=#{name}
	</select>


		<!--根据超市名称模糊查询超市列表-->
		<select id="getSupermarketByName" resultType="com.linayi.entity.supermarket.Supermarket">
			  SELECT
				  supermarket_id,
				  name
			  FROM
			  	  supermarket
			  WHERE
			  	  name like concat('%',#{name},'%')
		</select>

</mapper>
