<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linayi.dao.promoter.OrderManMemberMapper">
  <insert id="insert" parameterType="com.linayi.entity.promoter.OrderManMember">
    insert into order_man_member (order_man_member_id, order_man_id, member_id,
      update_time, create_time)
    values (#{orderManMemberId,jdbcType=INTEGER}, #{orderManId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER},
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <sql id="base_column">
    order_man_member_id, order_man_id, member_id, update_time, create_time
  </sql>
  
  <select id="getOrderManMemberList" resultType="com.linayi.entity.promoter.OrderManMember">
    select member_id memberId from order_man_member
    <where>
      <if test="orderManId != null">
        AND order_man_id  = #{orderManId}
      </if>
      <if test="createTimeStart != null and createTimeStart != ''">
        AND create_time  <![CDATA[ >= ]]> #{createTimeStart}
      </if>
       <if test="createTimeEnd != null and createTimeEnd != ''">
        AND create_time  <![CDATA[ <= ]]> #{createTimeEnd}
      </if>
    </where>
  </select>

 <select id="getOrderManMemberListByOrderManId" resultType="com.linayi.entity.promoter.OrderManMember">
 	select omm.member_id memberId from order_man_member omm
    left join user u on omm.member_id = u.user_id AND u.is_member = 'TRUE'
 	WHERE
 		omm.order_man_id=#{orderManId}
 		order by omm.create_time DESC
 </select>
 <select id="getOrderManMemberListByPromoterId" resultType="com.linayi.entity.promoter.OrderManMember">
     select omm.member_id memberId from order_man_member omm
     left join promoter_order_man pom on pom.order_man_id = omm.order_man_id and pom.promoter_id = #{promoterId}
     left join user u on u.is_member = 'TRUE' and u.user_id = omm.member_id
 </select>
</mapper>