<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linayi.dao.promoter.PromoterMapper">
  <insert id="insert" parameterType="com.linayi.entity.promoter.Promoter">
    insert into promoter (promoter_id, name, mobile, 
      qq, email, promoter_level, 
      update_time, create_time)
    values (#{promoterId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{promoterLevel,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <sql id="Base_Column">promoter_id, name, mobile, qq, email, promoter_level,  update_time, create_time</sql>
</mapper>